Client/Client/Service References/PeopleService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" />
  <xs:element name="GetActors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="GetActorsResult" nillable="true" type="q1:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="GetDirectorResult" nillable="true" type="q2:Director" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="GetActorResult" nillable="true" type="q3:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="GetDirectorsResult" nillable="true" type="q4:ArrayOfDirector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="a" nillable="true" type="q5:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="AddActorResult" nillable="true" type="q6:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="d" nillable="true" type="q7:Director" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDirectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="AddDirectorResult" nillable="true" type="q8:Director" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="a" nillable="true" type="q9:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="d" nillable="true" type="q10:Director" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="a" nillable="true" type="q11:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="d" nillable="true" type="q12:Director" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDirectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDirectorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="GetActorsByNameResult" nillable="true" type="q13:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ActorsAndDirectors.Models" minOccurs="0" name="GetDirectorsByNameResult" nillable="true" type="q14:ArrayOfDirector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>