Users/Library/Service References/MovieService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MoviesService.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReviewsService.Library" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.OData.Client" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieService_GetGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenres" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByTitle" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByGenre" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByTitlePart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByTitlePart" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByTitlePart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByTitlePartResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByYear" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByYearResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_AddMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_AddMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_AddGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGenre" />
  </wsdl:message>
  <wsdl:message name="IMovieService_AddGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_DeleteGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenre" />
  </wsdl:message>
  <wsdl:message name="IMovieService_DeleteGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenreResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_UpdateGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenre" />
  </wsdl:message>
  <wsdl:message name="IMovieService_UpdateGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenreResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieService">
    <wsdl:operation name="GetGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetGenres" message="tns:IMovieService_GetGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetGenresResponse" message="tns:IMovieService_GetGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMovies" message="tns:IMovieService_GetMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMoviesResponse" message="tns:IMovieService_GetMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByTitle" message="tns:IMovieService_GetMoviesByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByTitleResponse" message="tns:IMovieService_GetMoviesByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByGenre" message="tns:IMovieService_GetMoviesByGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByGenreResponse" message="tns:IMovieService_GetMoviesByGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByTitlePart">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByTitlePart" message="tns:IMovieService_GetMoviesByTitlePart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByTitlePartResponse" message="tns:IMovieService_GetMoviesByTitlePart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByYear" message="tns:IMovieService_GetMoviesByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByYearResponse" message="tns:IMovieService_GetMoviesByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/AddMovie" message="tns:IMovieService_AddMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/AddMovieResponse" message="tns:IMovieService_AddMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/AddGenre" message="tns:IMovieService_AddGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/AddGenreResponse" message="tns:IMovieService_AddGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/DeleteMovie" message="tns:IMovieService_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/DeleteMovieResponse" message="tns:IMovieService_DeleteMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/DeleteGenre" message="tns:IMovieService_DeleteGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/DeleteGenreResponse" message="tns:IMovieService_DeleteGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/UpdateMovie" message="tns:IMovieService_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/UpdateMovieResponse" message="tns:IMovieService_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/UpdateGenre" message="tns:IMovieService_UpdateGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/UpdateGenreResponse" message="tns:IMovieService_UpdateGenre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieService" type="tns:IMovieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGenres">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByTitle">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetMoviesByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByGenre">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetMoviesByGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByTitlePart">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetMoviesByTitlePart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByYear">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetMoviesByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/AddMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGenre">
      <soap:operation soapAction="http://tempuri.org/IMovieService/AddGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <soap:operation soapAction="http://tempuri.org/IMovieService/DeleteGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <soap:operation soapAction="http://tempuri.org/IMovieService/UpdateGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieService">
    <wsdl:port name="BasicHttpBinding_IMovieService" binding="tns:BasicHttpBinding_IMovieService">
      <soap:address location="http://localhost:8733/MovieService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>